@import "tailwindcss";

/*

  - Custome Class

*/

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-input-border);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-input-border-hover);
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Home Page */
.menu-item-active::before {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  width: 2.5rem;
  margin: auto;
  left: 0;
  right: 0;
  height: 0.25rem;
  border-radius: 4rem;
  background-color: var(--color-cta-primary);
  -webkit-border-radius: 4rme;
  -moz-border-radius: 4rme;
  -ms-border-radius: 4rme;
  -o-border-radius: 4rme;
}
.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--color-bg-primary)
  );
  z-index: 1;
}
.banner-data:before {
  content: "";
  position: absolute;
  left: -1.2rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: var(--color-text-secondary);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.banner-data:first-child::before {
  content: none;
}
.banner-data:first-child {
  margin-left: 0;
}

.swiper-pagination-bullet {
  background-color: var(--color-text-secondary) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-cta-primary) !important;
}
/* Movie Page */
.header-hero::after {
  content: "";
  inset: 0 0 -8px 0;
  z-index: 0;
  position: absolute;
  background:
    linear-gradient(
      180deg,
      var(--color-bg-primary),
      transparent,
      var(--color-bg-primary)
    ),
    linear-gradient(
      270deg,
      var(--color-bg-primary),
      transparent,
      var(--color-bg-primary)
    );
}

/* Serie Page */
.active-season {
  background-color: var(--color-cta-primary);
  border-color: var(--color-cta-primary);
}

.spoil-active {
  background-color: var(--color-cta-primary);
}
.spoil-active::before {
  background-color: #fff;
  left: 50%;
}

/* Auth Page */
.auth-overlay {
  background-image:
    linear-gradient(
      180deg,
      var(--color-bg-primary),
      transparent,
      var(--color-bg-primary)
    ),
    linear-gradient(
      270deg,
      var(--color-bg-primary),
      transparent,
      var(--color-bg-primary)
    );
}
.auth-header-active {
  border-bottom-color: var(--color-cta-primary);
  color: var(--color-cta-primary);
}
.remember-checkbox:has(input:checked) {
  background-color: var(--color-cta-primary);
  color: #fff;
}

/* Movies Page */
.acitve-layout {
  color: var(--color-text-primary);
  /* background-color:rgba(156 163 175 / 0.2); */
  background-color: var(--color-input-border-focus);
}
/* Series Page */

/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf) format("trutype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Medium.ttf) format("trutype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-SemiBold.ttf) format("trutype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Bold.ttf) format("trutype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Black.ttf) format("trutype");
  font-weight: 800;
}

/* KeyFrames */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@theme {
  /*
    - app color pallete - 
  */
  --color-bg-primary: #060816;
  --color-text-primary: #e8eaf6;
  --color-text-secondary: #9ca3af;
  --color-cta-primary: #7c4dff;
  --color-cta-hover: #946dff;

  --color-input-bg: #0d1223;
  --color-input-border: #252b42;
  --color-input-border-hover: #343b56;
  --color-input-border-focus: #7c4dff;

  --color-input-text: #ffffff;
  --color-input-placeholder: #6b7280;

  --font-poppins: "Poppins";

  --text-movie-card-title: 0.85rem;

  /* Animations */
  --animate-fadeIn: fadeIn 300ms ease-in;
  --animate-fadeOut: fadeOut 300ms ease-out;

}

@utility container {
  width: 100%;
  padding: 0 1rem;
  @variant md {
    max-width: 58rem;
  }
  @variant lg {
    max-width: 73rem;
  }
  @variant xl {
    max-width: 86rem;
  }
  @media (max-width: 576px) {
    .banner::after {
      height: 2rem !important;
    }
  }
}
